[2015-05-20 18:54] vosur opened #4 "Добавить возможность голосования через программу."
123

[2015-07-04 17:20] tym32167 opened #5 "Добавить проект веб-приложения"

[2015-07-04 17:22] tym32167 opened #6 "Добавить аутентификацию"

[2015-07-04 17:22] tym32167 opened #7 "Добавить настройки для серверов"

[2015-07-04 17:23] tym32167 opened #8 "Добавить возможность просматривать список игроков"

[2016-03-09 09:58] hia3project opened #9 "[Запрос функционала] Возможность отправлять личные сообщения игрокам"
Функционал стандартного RCON включает в себя возможность отправки приватных сообщений игрокам на сервере. Этой опции критически не хватает в Вашем замечательном приложении. Очень надеюсь её увидеть в приложении arma3beclient. Заранее благодарю!

[2016-03-09 20:14] tym32167 commented on #9
Привет. Спасибо за предложение. Да, пока такого нет. Я, конечно, запланирую
приватные сообщения, но сроки реализации пока не могу назвать.
9 Мар 2016 г. 14:58 пользователь "CHUIk" notifications@github.com написал:

[2016-03-13 13:55] tym32167 commented on #9
Обрати внимание, что есть ещё незакрытые баги. Они касаются списка банов и их синхронизации. Если у тебя 1 сервер, то ок. Если несколько, то аккуратней, т.к. последний релиз оказался нестабилен в этом плане

[2016-03-31 16:25] tym32167 commented on #9
Функционал запланирован, работа по нему начата.

[2016-03-31 18:09] tym32167 commented on #9
Функционал можно опробовать в пререлизе тут
https://github.com/tym32167/arma3beclient/releases/tag/0.5.5

[2016-04-01 08:04] hia3project commented on #9
Отличные новости. Благодарю за оперативность!

[2016-04-02 16:47] tym32167 commented on #9
Прошло тестирование. Багов сильных не заметил. Тикет закрываю. Функционал появится в ближайшем стабильном релизе. В пререлизе уже доступен.

[2016-04-02 16:47] #9 closed, assigned to tym32167

[2016-04-02 16:49] tym32167 opened #10 "Сделать настройку для гибкого определения неподходящего никнейма игрока"
Суть задачи:
Иметь возможность гибко настраивать фильтры никнеймов, которые запрещены на сервере.

[2016-04-03 13:48] tym32167 commented on #10
Вроде работает

[2016-04-03 13:48] #10 closed, assigned to tym32167

[2016-04-03 13:48] tym32167 opened #11 "Подвечивать игроков с IP как у администраторов."

[2016-04-03 14:30] tym32167 commented on #11
реализовано

[2016-04-03 14:30] #11 closed, assigned to tym32167

[2016-04-03 20:02] tym32167 opened #12 "Добавить splash screen"

[2016-04-03 20:02] tym32167 opened #13 "Добавить Help/About"

[2016-04-03 20:27] tym32167 commented on #12
готово

[2016-04-03 20:27] #12 closed, assigned to tym32167

[2016-04-03 22:02] tym32167 commented on #13
готово

[2016-04-03 22:02] #13 closed, assigned to tym32167

[2016-04-09 18:11] vosur opened #14 "Возможность полностью удалить сервер из списка серверов"
Привет. Как насчет того, чтобы добавить возможность полностью удалить сервер из списка серверов? Пусть даже с подчисткой всех данных из БД, которые относятся к этому серверу? Скопилось много серверов, которые уже не нужны

[2016-05-07 16:32] #4 closed, assigned to tym32167

[2016-05-07 16:32] #5 closed, assigned to tym32167

[2016-05-07 16:32] #6 closed, assigned to tym32167

[2016-05-07 16:32] #7 closed, assigned to tym32167

[2016-05-07 16:32] #8 closed, assigned to tym32167

[2016-05-07 16:33] tym32167 commented on #14
Взял в работу

[2016-05-07 17:08] tym32167 commented on #14
Если будешь удалять сервер с большой историей, то это займет достаточно времени (у меня минут 10 ушло)

[2016-05-07 17:09] tym32167 commented on #14
Вместе с сервером удалятся:
1. Чат этого сервера
2. Баны этого сервера
3. История посещений юзером
4. Админы этого сервера

[2016-05-07 17:10] tym32167 commented on #14
Необходимо быть внимательным, так как по нажатию "сохранить" процесс удаления уже не остановить.

[2016-05-07 17:13] tym32167 commented on #14
Выполнено. Вошло в релиз 5.5. Тикет закрываю.

[2016-05-07 17:13] #14 closed, assigned to tym32167

[2016-07-07 21:45] hia3project opened #15 "[UI] Возможность управлять причинами бана/кика/временем бана непосредственно из UI"
На текущий момент шаблоны для кика или бана содержат очень странные причины, которые крайне сложно применять на практике. Наше сообщество поддерживает работу сразу нескольких публичных серверов с высоким онлайном и постоянным притоком новых игроков. Команда наших администраторов, использующая исключительно программу arma3beclient, регулярно сталкивается с необходимостью применения санкций к игрока

[2016-07-07 21:59] hia3project opened #16 "[Запрос функционала] Возможность назначать перманентные баны"
Функционал стандартного RCON включает в себя возможность назначать бессрочные баны. Описание команд на официальном сайте:

ban [player #] [time in minutes] [reason]
Ban a player’s BE GUID from the server. If time is not specified or 0, the ban will be permanent. Optionally you can also display a reason.

Мы с нетерпением ждём появления этой функции в arma3beclient.

[2016-07-07 22:03] tym32167 commented on #15
@CHUIk , я очень рад, что нашу программу используют не только в рамках нашего проекта. В скором времени я снова займусь её доработкой\разработкой, потому мне очень важна обратная связь от пользователей.
Я внимательно читаю все запросы, потому если у вас или у вашей команды будут пожелания или предложения, то вы всегда можете мне создать подобный тикет и я его рассмотрю.
Что касается причин бана\ки

[2016-07-07 22:05] tym32167 commented on #16
Для перманентного (бессрочного) бана достаточно указать время бана, равное 0.
![ban_perm](https://cloud.githubusercontent.com/assets/610799/16671429/ae0f03b4-449f-11e6-9b3b-650619e0ce3e.PNG)

[2016-07-07 22:07] tym32167 commented on #16
@CHUIk проверьте пожалуйста работоспособность данного функционала (не забудьте скачать последнюю версию программы https://github.com/tym32167/arma3beclient/releases/latest ), и отпишите результаты. Если все хорошо, то я закрою тикет.

[2016-07-07 22:09] hia3project opened #17 "Обновление списка игроков препятствует работе"
Обновление списка игроков препятствует работе с той частью списка, которая требует использования ползунка для прокрутки. При этом обновление списка происходит будто бы с разной частотой. Иногда случается по 2 обновления в секунду, а в другой раз бывает, что обновлений вообще как будто нет. Вообще, было бы замечательно иметь в Настройках программы параметр "время обновления списка игроков в секунда

[2016-07-07 22:11] hia3project commented on #15
Благодарю за оперативный ответ. Было бы здорово увидеть в программе описанный Вами функционал.

[2016-07-07 22:13] tym32167 commented on #17
@CHUIk В данный момент обновление списка происходит только если игрок вышел с сервера\зашел на сервер. То есть, если никто долго не выходит и не заходит, обновления не происходит вовсе. Если Заходят\выходят часто - обновление происходит часто.
Вообще я думал над тем, чтобы обновлять по таймеру.
Тикет оставлю, подумаю насчет настройки с частотой обновления. Спасибо!

[2016-07-07 22:14] tym32167 commented on #15
@CHUIk Да, но я не обещаю это сделать скоро, так как это не блокирует работу с программой, а изменить причины бана\кика у вас есть возможность и примо сейчас самостоятельно.

[2016-07-07 22:22] hia3project commented on #17
На нашем флагманском сервере длительное время удерживается высокий онлайн. А самое главное, это описанная мной ранее частота присоединения и отсоединения игроков. Теперь я понимаю, что именно по этой причине наши админы порой физически не в состоянии оперативно оформить бан или кик. Прокрученный ими список постоянно сбрасывается в начало и они так могут секунд по 30 сидеть и раз раз разом безрезул

[2016-07-07 22:26] tym32167 commented on #17
Хорошо, я подумаю что с этим можно сделать

[2016-07-07 22:45] hia3project commented on #16
Я понял. Тогда немного перефразирую суть тикета. Шаблоны времени бана, имеющиеся на текущий момент сложны для восприятия большинством наших админов. Буду говорить именно о нашем сообществе.Я уже понял, что backend у программы отличный, но frontend местами очень желательно видоизменить. Этот тикет действительно можно закрывать. Но я сейчас оформлю другой.

[2016-07-07 22:55] hia3project opened #18 "[Запрос функционала] Возможность редактировать шаблоны времени бана и назначать текстовое описание, вместо числового отображения."
Существующие шаблоны для назначения времени бана было бы замечательно увидеть также в конфиг-файле, чтобы была возможность задать название шаблона для указанного временного интервала. Например:

`<add key="Ban_durations" value= [0,"Permanent Ban"] | [60,"One Hour Ban"] | [1440,"One Day Ban"] | [4320,"Three Days Ban"] | [10080,"One Week Ban"] | [40320,"One Month Ban"] />`

[2016-07-07 23:04] hia3project commented on #17
Благодарю за внимание к моей просьбе!

[2016-07-07 23:05] hia3project commented on #15
Уже занялся этим. Спасибо за помощь в нахождении метода добавления собственных причин бана/кика.

[2016-07-16 02:25] oDenZeL opened #19 "Динамическая система предупреждений/синхронизация комментариев"
**1)** Просьба заключается в том, чтобы ввести систему предупреждений, пример: нажимаем правой кнопкой мыши по нику и помимо действий кик и забанить, появляется кнопка **warn** затем появляется стандартный список причин кол-во предупреждений. И в настройках сделать функцию автоматической блокировки допустим 3 предупреждения - автоматическая блокировка на 1 день.

**2)** Синхронизация комментариев

[2016-07-16 17:22] tym32167 commented on #19
Спасибо за предложения!

1) Тут не всё так просто. Эти правила везде разные, на всех проектах. И чтобы всем угодить, мне надо будет сделать очень гибкую систему, а на это у меня нет времени :) Потому за это я пка не возьмусь.

2) Есть некоторые задумки на эту тему, но эти работы ещё даже не запланированы. Сейчас синхронизация работает только через механизм экспорта-импорта. К тому же, комментарий

[2016-07-16 17:23] tym32167 commented on #16
Закрыто, так как фукнционал уже есть.

[2016-07-16 17:23] #16 closed, assigned to hia3project

[2016-07-16 17:25] tym32167 commented on #15
related to #18

[2016-07-16 17:28] tym32167 commented on #18
Включено в ближайший релиз

[2016-07-16 17:29] tym32167 commented on #17
Включено в ближайший релиз

[2016-07-16 17:29] tym32167 commented on #15
Включено в ближайший релиз

[2016-07-16 19:44] tym32167 opened #20 "Добавить отдельное поле для STEAM порта"

[2016-07-16 19:52] tym32167 opened #21 "Интерфейс для настройки обновления списка игроков"
У пользователя должна быть возможность выбрать вариант обновления списков Игроков/Админов/Банов

Варианты обновления:
1. По таймеру
2. При входе/выходе игрока / админа

[2016-07-16 20:00] tym32167 opened #22 "Перейти на систему регионов"
Технический таск. Использовать регионы prism для композиции UI

[2016-07-16 20:01] tym32167 opened #23 "Определить разделения на модули"
Технический таск. Разделить на модули весь функционал.

[2016-07-17 15:34] tym32167 commented on #23
done

[2016-07-17 15:34] #23 closed, assigned to tym32167

[2016-07-17 15:34] tym32167 commented on #22
done

[2016-07-17 15:34] #22 closed, assigned to tym32167

[2016-07-17 15:44] tym32167 commented on #17
fixed in 0.5.6 release

[2016-07-17 17:14] tym32167 commented on #17
@hia3project проблема будет исправлена в следующем релизе. Предлагаю побыть моими тестерами и попробовать свежую сборку программы. Сборка может быть не стабильной. Ссылка на сборку https://dl.dropboxusercontent.com/u/38076493/arma3/Arma3BEClient.zip

[2016-07-17 17:25] tym32167 opened #24 "При открытии контекстного меню над невыбранным игроком, открывается выбранный"

[2016-07-18 00:55] hia3project commented on #19
Приветствую! Идею предложил представитель старого и солидного отряда. Он также является Главным администратором нашего проекта. Я поясню. Систему сложную делать и не нужно. Пользователю можно дать возможность настраивать её через диалог Настройки.
Всё что необходимо в таком случае: цифровое поле для указания количества предупреждения (для GUID выбранного в списке игрока), текстовое поле для ввода

[2016-07-18 00:57] hia3project commented on #18
Отличная новость, благодарю за внимание!

[2016-07-18 01:00] hia3project commented on #17
Благодарю! С огромным удовольствием опробуем!

[2016-07-18 01:05] hia3project commented on #21
Повторю своё предложение чуть, выдвинутое ранее - задержка обновления при входе/выходе вовремя нажатия ЛКМ на ползунке (ползунках) прокрутки.

[2016-07-18 11:21] tym32167 commented on #21
В задержке нет необходимости, поглядите как это сейчас работает в сборке из
тикета #17

[2016-07-19 19:28] tym32167 commented on #17
Обновил сборку. В старой были проблемы с баном игрока, что уже вышел с сервера.
Новую сборку можно скачать тут https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.5.5.226-develop/artifacts

[2016-07-19 21:30] tym32167 opened #25 "[UI] Асинхронный поиск в истории чата"
Небольшое улучшение - не блокировать UI при поиске в истории чата.

[2016-07-19 21:45] tym32167 commented on #25
fixed

[2016-07-19 21:45] #25 closed, assigned to tym32167

[2016-07-19 21:47] tym32167 opened #26 "[UI] Ускорить рендер текстовых контролов"
Текстовые контролы начинают тормозить при наличии большого количества текста внутри. Необходимо ускорить существующие контролы или заменить их на другие.

[2016-07-19 21:49] tym32167 opened #27 "[UI] Попробовать возможность виртуализации грида с банами"
Так как баны могут содержать более 1000 записей, нужно проверить работу грида с виртуализацией для экономии памяти.

[2016-07-19 21:53] tym32167 commented on #15
Предполагаю, что шаблоны в результате этого тикета будут храниться в БД.

[2016-07-21 13:53] tym32167 opened #28 "Возможность получить STEAM ID игрока"

[2016-07-23 06:42] tym32167 opened #29 "[UI] Возможность кастомизации гридов"
Возможность устанавливать ширину колонок и порядок. Сохранять настройки в преверенсах.

[2016-07-23 08:12] tym32167 commented on #17
Вроде проблем с тикетом нет, закрываю.

[2016-07-23 08:12] #17 closed, assigned to tym32167

[2016-08-09 22:12] oDenZeL opened #30 "Синхронизация банов"
Возможно ли сделать синхронизацию блокировок? Например, чтобы через настройки выбрать сервера, на которых следует синхронизировать баны.

[2016-08-09 22:15] oDenZeL opened #31 "[UI] Часовой пояс"
Хотелось бы видеть в настройках выбор часового пояса, т.к. прибавлять постоянно 3 часа не охота.

[2016-08-09 22:18] oDenZeL opened #32 "[UI] Добавить команду для копирования строки таблицы с банами"
Еще хотелось бы увидеть на мой взгляд простейшую функцию "скопировать всё" в поле блокировок: Нажимаешь по строке нужной > Copy > All . Таким образом скопировав всю строчку.

[2016-08-09 22:20] tym32167 commented on #30
На данный момент синхронизация работает следующим образом:
1. Синхронизируются только перманентные баны
2. Для синхронизации необходимо
- отрыть вкладки с нужными серверами
- перейти на вкладку с сервером, куда будем заливать баны
- там есть закладка Availible Bans - в этой закладке отображаются перманентные баны, что есть на других открытых серверах и нет в текущем сервере
- Выделяем нужные баны

[2016-08-09 22:21] tym32167 commented on #32
Есть ли разница, в каком формате копировать строку? Я могу это сделать, это не должно занять много времени.

[2016-08-09 22:22] tym32167 commented on #31
Резонно. Это можно. Я посмотрю, будет ли у меня возможность включить это в релиз. Если не в ближайший, то в следующий.

[2016-08-09 22:26] tym32167 commented on #28
Убрал из релиза. Не уверен в нужности фичи.

[2016-08-09 22:27] tym32167 commented on #27
Убрал из релиза. Нужность под вопросом.

[2016-08-09 22:27] tym32167 commented on #26
Убрал из релиза. Освобождаю время для более актуальных задач.

[2016-08-09 22:28] tym32167 commented on #31
Добавлено в ближайший релиз.

[2016-08-09 22:30] oDenZeL commented on #32
Вообще хотелось бы увидеть разделение столбца "Reason" на два, это допустим "Date" и "Comment". Это реализуемо?

[2016-08-09 22:35] tym32167 commented on #32
На сервере причина хранится одной строкой. Я, конечно, могу в интерфейсе
разделить, но это будет работать только для тех банов, где дата указана и в
том формате, а каком пишет наша программа. Если кто то будет банить другой
программой и дату не напишет (или напишет в другом формате), то я уже это
не разберу

[2016-08-09 22:51] oDenZeL opened #33 "[UI] Длительность блокировок"
Хотелось бы еще увидеть больше "временных шаблонов" (Tamplate), от одного часа до 2-х месяцев к примеру.

И чтобы они были прописаны словами например "Week","Month","Day" и т.д.

[2016-08-10 19:30] tym32167 commented on #33
Аналогичный запрос уже включен в ближайший релиз #18 Этот тикет закрываю.

[2016-08-10 19:30] #33 closed, assigned to tym32167

[2016-08-31 22:27] tym32167 commented on #18
Тикет закрываю, функционал добавлен в текущую сборку. На странице настроек добавил вкладку с редактируемыми гридами. Также обновил выбиралку времени бана при бане игрока.  Знаю, что выглядит не супер, но работает. Сборку можно скачать отсюда https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.5.5.237-develop/artifacts Будут предложения/пожелания - велком.

[2016-08-31 22:27] #18 closed, assigned to tym32167

[2016-08-31 22:27] tym32167 commented on #15
Тикет закрываю, функционал добавлен в текущую сборку. На странице настроек добавил вкладку с редактируемыми гридами. Также обновил выбиралку времени бана при бане игрока.  Знаю, что выглядит не супер, но работает. Сборку можно скачать отсюда https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.5.5.237-develop/artifacts Будут предложения/пожелания - велком.

[2016-08-31 22:27] #15 closed, assigned to tym32167

[2016-09-01 12:41] oDenZeL opened #34 "[UI] Возможность получить STEAM ID игрока"
Возможно ли реализовать копирование PID'a игрока?

[2016-09-01 12:44] tym32167 commented on #34
Что именно ты хочешь скопировать и откуда? Расскажи подробнее, я не понял
вопроса.

[2016-09-01 12:48] oDenZeL commented on #34
Есть такая штука как PID - player ID, он совпадает с ID steam аккаунта и если была бы возможность копировать данный id, можно без проблем получить информацию о steam профиле игрока.
PID отображается в настройках профиля ARMA3 вроде.

[2016-09-01 12:50] oDenZeL commented on #34
Еще нашел вот такую вот интересную штуку https://forums.bistudio.com/topic/175216-online-steam-id-to-battleye-guid-converter/

Только в нашем случае требуется наоборот конвертировать.

[2016-09-01 15:23] tym32167 commented on #34
Перевести из ид стима в гуид игрока я и сам могу. Проблема в том, что это
перевод в одну сторону. Из гуида игрока ид стима уже не получить. В теории
можно попробовать извернуться, но это требует много вычислений и не уверен,
что стим будет рад, если кто то будет получать ид игроков по их гуидам. У
меня даже есть тикет для этого #28, но я не уверен, что эта фича настолько
востребована, чтобы разбир

[2016-09-01 15:56] ToxaBes2 commented on #34
Конвертацию Battleye id в Steam id не сделать т.к. battleye id это md5 hash от steam id, а хешерование это операция в одну сторону.

[2016-09-01 16:00] ToxaBes2 commented on #34
нет, подбор по rainbow tables тут не поможет, т.к. там не только md5 но и промежуточные вычисления.

[2016-09-01 16:38] tym32167 commented on #34
Я уже находил 99% наших игроков в стиме, это примерно 60тыс. Так что все
реально, только долго и надо ли?

[2016-09-01 17:14] ToxaBes2 commented on #34
Расскажи как делал? Нагенерил предварительно свой гиганский массив вида steam_id => battleye_id  и искал по нему?

[2016-09-01 17:16] tym32167 commented on #34
да, именно так, самый тупой способ. Взял свой ид, прибавил 300 миллионов
(или 30 лямов.. не помню сколько) и отнял 300 миллионов и прошелся по 600
миллионам записей. Хранить это месиво мне смысла не было, я искал
конкретные 60 тыс гуидов, и почти все нашел.

[2016-09-01 19:03] ToxaBes2 commented on #34
Даже если взять только +/- 30 млн, даже если учесть что ты используешь MS SQL Compact в качестве БД, простая таблица ключ => значение может получится по размеру больше чем вся программа. Под такое есть смысл делать отдельный сервис/прогу.

[2016-09-01 19:06] tym32167 commented on #34
Возможно, если планируешь хранить всю таблицу. Я ничего хранить не хочу. Да
и какой сервис, если у меня сервака нет.

[2016-09-01 19:27] tym32167 commented on #28
duplicate #34

[2016-09-01 19:27] #28 closed, assigned to tym32167

[2016-09-01 20:01] tym32167 commented on #20
Тикет закрываю, артефакты тут https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.5.5.239-develop/artifacts

[2016-09-01 20:01] #20 closed, assigned to tym32167

[2016-09-11 22:51] tym32167 commented on #34
Еще до конца недопилено и не протестировано, но концепт работает и позволяет отыскивать игроков в стиме. Пока добавил закладку к открытому серверу. Как сейчас использовать: открываем вкладку с сервером, переходим на Steam Discovery, нажимаем Start. Как только найденных плееров будет примерно 8тыс, жмем стоп, ждем, снова старт. И так до 100%. Знаю, неудобно, но времени на большее сегодня не было. Б

[2016-09-12 10:07] ToxaBes2 commented on #34
Отличное решение! Зачем хранить базу всех возможных игроков если интересуют только те игроки которые уже есть в базе программы. Кому нужно, тот будет периодически заполнять в своей базе id-шки. Сорцы глянул, спасибо.

[2016-09-15 18:03] tym32167 opened #35 "[UI] В окне бана возможность выбрать сервер для бана"

[2016-09-15 18:04] tym32167 opened #36 "[UI] Список всех игроков и тулза для поиска ид стима в отдельных окнах"

[2016-09-15 20:41] #35 closed, assigned to tym32167

[2016-09-15 20:41] #36 closed, assigned to tym32167

[2016-09-15 20:42] #34 closed, assigned to tym32167

[2016-09-16 19:59] tym32167 opened #37 "[UI] Причесать дизайн"

[2016-09-16 20:01] tym32167 opened #38 "[UI] Добавить чистилку для чата"
Сообщения чата занимают много места в БД. Думаю добавить возможность, например, хранить только последние полгода сообщений.

[2016-09-16 20:59] tym32167 opened #39 "[IU] Дополнительные поля в банах: дата и имя админа"
Есть идея добавить поля в баны - дату бана и имя админа. По сути, я буду просто парсить причину бвна, и если оттуда можно вытащить дату или имя админа - записывать в эти поля. Должно быть удобно для сортировки\фильтрации

[2016-09-16 21:53] tym32167 commented on #31
Задача готова, добавил опцию в настройки, ссылка на билд https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.5.5.243-develop/artifacts

[2016-09-16 21:53] #31 closed, assigned to tym32167

[2016-09-16 21:59] tym32167 commented on #21
@hia3project
@oDenZeL
Прошу отписать, есть ли ещё такая проблема и действительно ли нужны такие настройки на обновление списка игроков? Банов? Админов?  ( проблема отписана в тикете #17  )

[2016-09-17 15:45] tym32167 commented on #21
готово, добавил натройку, билд тут https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.5.5.247-develop/artifacts

[2016-09-17 15:45] #21 closed, assigned to tym32167

[2016-09-17 18:05] #37 closed, assigned to tym32167

[2016-09-17 19:43] tym32167 opened #40 "[UI] Фикс импорта"
При больших апдейтах импорт падает по непонятной причине.

[2016-09-18 12:34] #40 closed, assigned to tym32167

[2016-09-19 21:48] tym32167 opened #41 "Поддержка MSMQ"

[2016-09-19 21:49] tym32167 opened #42 "[UI] интерфейс импорта игроков"

[2016-09-26 13:58] 12st opened #43 "[UI] [Analysis] Нестандартные каналы связи"
Арма позволяет создавать и настраивать свои собственные каналы для голосового\текстового общения. Однако программа такие каналы не видит, из-за этого порой возникают проблемы. Есть ли возможность их подключить?

[2016-09-26 16:38] tym32167 commented on #43
@12st Спасибо, совсем забыл про это. Проведу анализ, попробую пофиксить, если смогу. Включено в ближайший релиз.

[2016-09-26 18:02] tym32167 commented on #43
Результаты теста - все нестандартные каналы отмечены как unknown, Пример:

Планирую отмечать их отдельным цветом в чате

[2016-09-26 18:18] tym32167 commented on #43
Готово, скачать билд можно тут https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.5.5.254-develop/artifacts

[2016-09-26 18:18] #43 closed, assigned to tym32167

[2016-09-26 19:05] tym32167 commented on #24
Убрал из релиза из за недостатка времени

[2016-09-26 20:51] tym32167 opened #44 "[UI] Возможность отправлять команды на сервер напрямую"
Добавить в секцию чата - консоли текстбокс с кнопкой для возможности отправить команду на сервер напрямую.

[2016-09-26 22:09] 12st commented on #43
Протестировал, все работает. Цвет думаю таким можно и оставить, привыкаешь быстро.

[2016-09-27 11:38] tym32167 commented on #43
Отлично, спасибо!

[2016-10-08 17:09] tym32167 opened #45 "[UI] Возможность видеть, кто заходил/выходил с сервера"
Возможность для быстрого бана игрока, что уже вышел с сервера.

[2016-10-08 18:56] tym32167 commented on #45
Добавлена новая вкладка для входов / выходов игроков
![issue_45](https://cloud.githubusercontent.com/assets/610799/19215279/9113f72c-8d99-11e6-8d59-b95fe83dc7ba.png)

Ссылка на билд: https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.5.5.259-develop/artifacts

[2016-10-08 19:02] 12st opened #46 "Проблемы с импортом\экспортом игроков"
В последнем билде программы появилась проблема, что база переносится частями. В данный момент БД насчитывает 65618 игроков, при первом переносе появилось лишь ~7000, при втором ~40000 и только с третьей попытки перенеслось полностью. Перед каждым переносом полностью рестартил программу цифра не менялась.

[2016-10-08 19:03] tym32167 commented on #45
@oDenZeL , @12st , @hia3project Если есть возможность, поглядите на фичу. Хочу понять, нужна она или нет.

[2016-10-08 19:04] tym32167 commented on #46
Понял, погляжу, спасибо

[2016-10-08 21:03] ToxaBes2 commented on #45
@tym32167 - меня то за что? )

[2016-10-08 21:05] tym32167 commented on #45
@ToxaBes Так надо ж было кого-нить забанить, а забанить тебя на твоем сервере вдвойне смешнее :)

[2016-10-09 15:22] 12st commented on #45
Протестил, всё работает нормально, очень удобная штука однозначно надо оставлять.

[2016-10-09 15:24] tym32167 commented on #45
@12st Окей, спасибо. Тогда тикет закрываю, это войдет в ближайший релиз.

[2016-10-09 15:24] #45 closed, assigned to tym32167

[2016-10-10 21:40] oDenZeL opened #47 "Инсталятор"
Сложно ли реализовать установщик данной программы?

[2016-10-10 21:42] oDenZeL opened #48 "База данных"
Можно ли реализовать функционал привязки к базе данных на хостинге?
В принципе, это решает многие проблемы.

[2016-10-10 21:44] tym32167 commented on #47
Инсталлятор можно, но юзера запарятся каждый раз при обновлении удалять/
устанавливать.

[2016-10-10 21:44] oDenZeL opened #49 "Регистрация"
В принципе, если бы был реализован инсталятор, можно было бы сделать регистрацию при первом запуске программы.
Допустим нужно ввести - Никнейм, PID, и @.mail к примеру.

Опять же, синхронизовав с личной базой данных, можно было бы увидеть кто кого заблокировал.
Во вкладке "Администрация" корректо бы отображались никнеймы и другая информация.

[2016-10-10 21:45] oDenZeL commented on #47
@tym32167 А вот отсюда выплывает другой тиккет, как насчет обновлений без скачивания полностью новой версии? Это было бы очень удобно, т.к. у нас например не один админ, а скачивать всем заного, постоянно обновляющийся продукт вообще не круто.

[2016-10-10 22:32] tym32167 commented on #47
Я подумаю над этим, но это задача довольно объемная, она достойна целого релиза, потому сроки не могу сказать.

[2016-10-10 22:41] tym32167 commented on #48
1. Проблема раз: сейчас в БД пишется оч много - это не тлько игроки, но и история их входов, айпишники, ники, история подключения админов, игровой чат и тд + список серверов с паролями в открытом виде. Это не только небезопасно хранить на хостинге, но и все подключенные админы увидят все сервера.
2.  Это, в теории, можно хранить на хостинге, но только в том случае, если в одно время к нему будет п

[2016-10-10 22:44] tym32167 commented on #48
Какие проблемы?

[2016-10-10 22:53] tym32167 commented on #49
Регистрацию где? У программы нет своего сервера.

Что такое PID?

Только если все админы пользуются одной программой. Да и зачем это, если админ, что забанил, пишется в комментарии к бану?

У нас же нет такой вкладки. Никнеймы кого отображались бы корректно?

Если честно, я давно подумываю о PTP синхронизации, когда, например, два и более админов установят у себя проги, расшарят порты и смогут сое

[2016-10-11 01:10] ToxaBes2 commented on #49
Чисто под веб есть вот такое: https://github.com/Nizarii/arma-rcon-class-php
php сокетами по udp можно работать с battleye сервером, легко дописывается. Сможет ли покрыть весь функционал - хз.

[2016-10-11 06:23] tym32167 commented on #49
Так это, как я понял, просто прокси к серверу.  Там ничего нет, ни
интерфейса, ни базы данных.

[2016-10-11 12:09] ToxaBes2 commented on #49
Это механизм выполнения команд battleye сервера и получения результата. Если ты используешь только команды battleye+ steam query то с его помощью можно на любом современном php фреймворке накидать админку которая будет повторять функционал программы и хранить данные в бд, например MySQL. Это вариант для кросс-платформенного решения, чисто под веб, поставил на веб-сервер и работает. Единая точка то

[2016-10-11 12:55] tym32167 commented on #49
Да, думаю про веб, но пока это только мысли :) Про платформы не думал еще,
но есть возможность сделать это на .net core, что должен запускаться и под
линуском.
Вся моя прога тоже типа админки, сам код для отправки получения сообщений
небольшой и я его взял с другого проекта.
Не думаю, что так легко будет накидать админку поверх этих пхп скриптов, по
крайней мере с тем же функционалом, что у нас.
А

[2016-10-11 13:13] ToxaBes2 commented on #49
Это было бы здорово (для меня). Универсальная прога которая работает под Win/Lin + может работать как несколько независимых клиентов (client version) - у каждого админа своя база, свой экземпляр проги и они мудохаются с синхронизацией, так и в режиме сервера (server version) - один установленный экземпляр на Win/Lin с доступом по веб-морде которая может открываться на любом указанном порту с едино

[2016-10-11 14:16] ToxaBes2 commented on #49
По серверному варианту: служба по Win и демон (systemd?) под Lin. После запуска открываем в браузере http://127.0.0.1:32167 и видим форму логина в админку. Как-то так.

[2016-10-11 14:30] oDenZeL commented on #47
@tym32167 Спасибо за быстрое реагирование!

[2016-10-11 16:10] tym32167 commented on #49
Понял, спасибо. Буду тебя иметь ввиду :)

[2016-10-11 17:48] tym32167 commented on #49
Я сам пока не очень представляю, как это будет работать под линуксом, но вот тут есть занимательная инфа https://www.microsoft.com/net/core

[2016-10-11 17:50] tym32167 commented on #49
По поводу самого сервера, мне кажется, на линуксе от него заведется только сервер+веб часть. Клиентскую прогу для коннекта к серверу писать планов нет. Собственно, пока с планами вцелом не очень. Мне бы текущий релиз выпустить, а за следующий я, наверное, коли возьмусь, так в след году.

[2016-10-11 17:59] ToxaBes2 commented on #49
Интересна серверная часть с веб мордой, в этом случае без клиента можно обойтись.

У тебя просто слишком много пивных на кв км )
Время не критично на самом деле.

[2016-11-09 22:07] tym32167 commented on #46
Тайминги на инсерт/апдейт ~60 тыс игроков

[code]

[2016-11-09 22:24] #46 closed, assigned to tym32167

[2016-11-18 14:53] tym32167 opened #50 "[UI] Host richtextbox control for chat"

[2016-11-18 16:02] tym32167 opened #51 "Массовый бан/разбан"

[2016-11-20 12:34] #50 closed, assigned to tym32167

[2016-11-20 12:35] tym32167 commented on #26
сделано в рамках #50

[2016-11-20 15:50] tym32167 commented on #49
@ToxaBes после такого https://www.battlemetrics.com/home даже сомневаюсь, браться вообще за веб или нет O_o

[2016-11-20 20:27] ToxaBes2 commented on #49
Это просто стата, через них не забанишь человека, не разбанишь его, не напишешь в чат в игру и тд.
Запилить статистику не проблема -> http://mon.tehgam.com/?s=1
А вот реализовать управление, это совсем другое дело.

[2016-11-20 20:28] tym32167 commented on #49
@ToxaBes они за 5 баксов предлагают RCON доступ через веб
https://www.battlemetrics.com/rcon/about

[2016-11-20 22:08] ToxaBes2 commented on #49
В данном конкретном случае я не готов платить 5 баксов в месяц за то что могу сам накидать на php+bootstrap за несколько дней (основной функционал). Также мне не нравится вариант в котором данные лежат на левом сервере.
Делать или нет решать тебе. Я предлагал web часть как вариант кросплатформенности, т.к. меня интересует Linux-версия которую можно было бы поставить на собственный сервер.

[2016-11-26 15:28] tym32167 opened #52 "[UI] На вкладке session по правой кнопке активно только copy. kick, ban, playerinfo - не работает."

[2016-11-26 15:29] tym32167 opened #53 "[UI] При обновлении списка игроков значение пинга не обновляется."
При обновлении списка игроков значение пинга не обновляется. Пинг обновляется только при смене статуса ingame-lobby. Теперь непонятно у кого проблемы с инетом.

[2016-11-26 15:30] tym32167 opened #54 "[UI] При поиске игрока на вкладке seen on находит не все."
При поиске игрока на вкладке seen on находит не все. Может показать последний визит полгода назад для игрока который играет каждый день. При этом в логах это все есть. Если чел часто меняет ники, то часть из них просто не покажет. Вот сейчас вбил свой ник и ничего не нашло. Для теста настроек заходил с другим ником на сервер, поэтому при установке галки last names в опциях поиска нашло по 2му нику

[2016-11-26 15:32] tym32167 opened #55 "[UI] Глюк при установке миссии на сервере"
Есть еще глюк при установке миссии на сервере. Выбираю миссию и жму set mission и выдает Can't find a mission collection / mission with template name: 'название миссии', skipping to next mission.
После может запуститься миссия с другим названием. Но это может у бисов глюк.

[2016-11-26 15:33] 12st commented on #55
На серверах под линуксом оно вообще крашит сервер.

[2016-11-26 15:33] tym32167 opened #56 "[UI] Добавлять дату разбана в сообщении игроку"
Неплохо бы добавлять дату разбана в сообщении игроку. Т.е прибавлять к дате бана срок бана - 1день, неделя, месяц, перманент

[2016-11-26 15:35] tym32167 opened #57 "[UI] Добавить steam id отдельным столбцом"
Добавить во вкладки игроков - для сессий, банов и списка игроков

[2016-11-26 15:36] tym32167 commented on #55
Краш сервера - это уже чисто серверная проблема. На UI я на это повлиять не могу никак.

[2016-11-26 15:58] ToxaBes2 commented on #55
С сервером все ок. Крашится что-то внутри армы, т.е. процесс остается висеть, он не зомби, но на команды больше не реагирует, приходится перезапускать процесс.

[2016-11-26 16:02] ToxaBes2 commented on #55
https://forums.bistudio.com/topic/188037-rented-arma-3-linux-server-no-way-to-change-mission-without-reboot-server/

Скорее всего ребята правы, это косяк самой сборки армы под Linux.

[2016-11-26 16:05] tym32167 commented on #55
@ToxaBes спасибо. Осталось проверить аналогичное на win хостинге. Но, есть ощущение, что это чисто серверная проблема на любом хостинге.

[2016-11-26 16:17] tym32167 commented on #52
На данный момент баг не воспроизводится.
![image](https://cloud.githubusercontent.com/assets/610799/20641628/318ee058-b3fc-11e6-9556-3fe1a5042bd8.png)

[2016-11-26 16:18] tym32167 opened #58 "[UI] Добавить версию ПО в заголовок окна"

[2016-11-26 16:24] tym32167 commented on #26
Переоткрываю по запросу пользователей.

[2016-11-26 16:38] tym32167 commented on #52
От пользователя:
![image](https://cloud.githubusercontent.com/assets/610799/20641752/1f6b5548-b3ff-11e6-90ca-6b1ca1707ceb.png)

http://www.tehgam.com/showthread.php?t=814&page=5&p=15539&viewfull=1#post15539

[2016-11-26 16:39] tym32167 commented on #52
Может быть связано с #17

[2016-11-26 19:36] tym32167 opened #59 "[UI] Хранить фильтр по никнеймам в БД"

[2016-11-26 19:38] tym32167 commented on #55
http://www.tehgam.com/showthread.php?t=814&page=5&p=15542&viewfull=1#post15542

[2016-11-26 19:40] tym32167 opened #60 "Переподключение админов"
http://www.tehgam.com/showthread.php?t=814&p=15542&viewfull=1#post15542

![image](https://cloud.githubusercontent.com/assets/610799/20642780/7808e7ec-b418-11e6-8940-8c57aeb59554.png)

[2016-11-26 19:52] 12st commented on #60
Они висят не по двое, когда обновляешь страницу с админами один исчезает. Просто постоянно идет переподключение с разных портов
![toolwiz201611-26-22-52-5](https://cloud.githubusercontent.com/assets/18305023/20642833/01418ce6-b42b-11e6-9fe3-6e6c1af17ec2.png)

[2016-11-26 20:17] tym32167 commented on #60
Ага. @12st  спасибо, возможно, ты показал мне где проблема. Дело в том, что я писал защиту от потери соединения, которая, если 5 минут нет сообщений от сервера, переподключается. Похоже, пока переписать тот код :)

[2016-11-26 20:37] tym32167 commented on #60
@12st Скинь плиз сюда или мне на почту логи от этого времени

[2016-11-26 20:47] tym32167 commented on #60
Логи для исследования
[Logs.zip](https://github.com/tym32167/arma3beclient/files/614424/Logs.zip)

[2016-11-28 22:39] #58 closed, assigned to nobody

[2016-11-28 22:40] tym32167 commented on #52
Исправлено, протестировано.

[2016-11-28 22:40] tym32167 commented on #58
![image](https://cloud.githubusercontent.com/assets/610799/20689128/118bebba-b5c4-11e6-9388-cca1c4cc6083.png)

[2016-11-28 22:40] #52 closed, assigned to nobody

[2016-11-28 22:53] tym32167 commented on #57
Players
![image](https://cloud.githubusercontent.com/assets/610799/20689474/dc2a2bec-b5c5-11e6-8f50-2b74f756a467.png)

[2016-11-28 22:57] tym32167 commented on #57
Ban view
![image](https://cloud.githubusercontent.com/assets/610799/20689572/61f2da80-b5c6-11e6-8e21-b718647d75fa.png)

[2016-11-28 22:58] tym32167 opened #61 "[UI] Выполнять поиск на Enter в полях поиска"

[2016-11-28 23:03] tym32167 commented on #57
Players
![image](https://cloud.githubusercontent.com/assets/610799/20689737/34e3eefc-b5c7-11e6-8cb4-b7c739b3ebf7.png)

[2016-11-28 23:04] tym32167 commented on #57
Done.

[2016-11-28 23:04] #57 closed, assigned to nobody

[2016-11-29 21:37] tym32167 commented on #54
Хочу пояснить, как работает вкладка "Seen on". Если у игрока меняется IP адрес или ник, то туда должна добавиться запись. Если ни ник, ни IP не сменились, то записи не добавится, сколько бы игрок не заходил.
То есть, по сути, мы сохраняем не историю входов пользователя на сервер, а только набор его IP и ников.

[2016-11-29 21:49] tym32167 commented on #54
Поставил обновление Last Seen на входе игрока на сервер.

![image](https://cloud.githubusercontent.com/assets/610799/20730369/25c4f6a4-b686-11e6-8574-0f3ef40cd282.png)

[2016-11-30 19:40] tym32167 opened #62 "[UI] Last Update обновляется чаще, чем должен"

[2016-12-01 21:01] tym32167 commented on #53
Пофиксил, теперь обновляется.

[2016-12-01 21:04] tym32167 commented on #54
Протестил, работает

[2016-12-01 21:04] #54 closed, assigned to nobody

[2016-12-01 21:07] tym32167 commented on #62
Логика такая: если игрок сам обновляет что то (нажимая кнопку), то команда идет на сервер сразу. Если срабатывает триггер - вход/выход/кик/бан игрока, то ториггер отрабатывает не чаще, чем указано в настройках.
![image](https://cloud.githubusercontent.com/assets/610799/20812625/8addfbca-b812-11e6-9b60-932f961eee79.png)
То есть ничего править не надо, все работает как нужно

[2016-12-01 21:07] #62 closed, assigned to nobody

[2016-12-02 08:53] tym32167 opened #63 "[UI] возможность отправлять самописные ркон команды"

[2016-12-02 12:28] ToxaBes2 commented on #63
В свежем SPOTREP от БИСов появилось:
Added: A new #restartserver Dedicated Server command

Может есть смысл добавить новую кнопку "Restart Server" рядом с кнопками по смене миссий? По нажатию кнопки всплывающее окно с подтверждением "Are you sure?". В этом случае если миссия зависла или багнул рестарт миссии можно перезапустить сам процесс.

[2016-12-02 22:03] tym32167 opened #64 "[UI] Добавить возможность рестарта сервера."
Команда

[2016-12-02 22:04] tym32167 commented on #63
@ToxaBes  да, можно. Добавил тикет #64

[2016-12-02 23:03] tym32167 commented on #64
@ToxaBes потести плиз, если время будет, и отпиши https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.7.284/artifacts .

[2016-12-02 23:34] tym32167 commented on #64
Добавил ещё команды. Если будет возможность, потести, билд тут https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.7.285/artifacts
Список команд тут https://community.bistudio.com/wiki/BattlEye
Дока https://www.battleye.com/support/documentation/
![image](https://cloud.githubusercontent.com/assets/610799/20853979/42ed75be-b8f0-11e6-96de-0c55ce28dfc9.png)

[2016-12-03 00:09] tym32167 commented on #63
готово
![image](https://cloud.githubusercontent.com/assets/610799/20854533/13d4a1bc-b8f5-11e6-87a4-6dee282178d9.png)

[2016-12-03 00:11] tym32167 commented on #63
Список команд тут https://community.bistudio.com/wiki/BattlEye
Дока https://www.battleye.com/support/documentation/

[2016-12-03 00:14] tym32167 commented on #63
Должно работать, закрываю

[2016-12-03 00:14] #63 closed, assigned to tym32167

[2016-12-03 00:17] tym32167 commented on #64
Должно работать. Будут проблемы - свистите. Тикет закрываю.

[2016-12-03 00:17] #64 closed, assigned to tym32167

[2016-12-03 10:01] tym32167 commented on #53
Сбрасывается выбранный игрок. Надо фиксить

[2016-12-04 11:57] tym32167 commented on #29
Сделано для основных гридов:
- Список онлайн игроков
- Общий список игроков
- Список банов
- Список админов

Сохраняет:
- Порядок столбца
- Ширину столбца

[2016-12-04 12:26] tym32167 commented on #29
Проверено, должно работать.

[2016-12-04 12:33] tym32167 commented on #29
Есть баги

[2016-12-04 12:42] #29 closed, assigned to tym32167

[2016-12-15 17:14] ToxaBes2 commented on #55
@tym32167  - ты случайно смену миссии на сервере сегодня не тестил?

[2016-12-15 17:43] tym32167 commented on #55
@ToxaBes  Неа, но вчера попробовал рестарт сервера на рф2, и повесил их сервак

[2016-12-15 23:45] tym32167 commented on #53
Готово, закрываю

[2016-12-15 23:45] #53 closed, assigned to nobody

[2016-12-17 22:58] tym32167 opened #65 "[UI] Неверно показывает оставшееся время в банах"
http://www.tehgam.com/showthread.php?t=814&page=7&p=15596&viewfull=1#post15596

[2016-12-18 21:21] tym32167 commented on #65
проверено

[2016-12-18 21:21] #65 closed, assigned to tym32167

[2016-12-18 21:27] tym32167 commented on #65
Также добавлено поле TimeLeft, чтобы быстро понимать, сколько игроку осталось сидеть в бане, в случае временного бана
![image](https://cloud.githubusercontent.com/assets/610799/21296663/3764e500-c571-11e6-87d7-a70b0993a222.png)

[2016-12-26 18:29] tym32167 opened #66 "Зависает при потере интернета"

[2016-12-30 13:07] tym32167 opened #67 "[UI] Возможность настройки шаблона текста для бана"
Предусмотреть отдельные шаблоны для перманентного и временного

[2017-01-22 21:20] 12st opened #68 "Огромный пинг в программе"
Уже не в первый раз замечаю, что порой программа отображает просто огромный пинг. Причём у игрока всё просто замечательно. Зависает такой пинг сразу у нескольких клиентов и не обновляется пока программа не будет перезапущена. Сомневаюсь, что это можно исправить, да и не сильно это мешает, но вдруг.
![toolwiz20171-22-20-20-8](https://cloud.githubusercontent.com/assets/18305023/22186106/5fced3ce-e10

[2017-01-22 22:26] tym32167 commented on #68
Спасибо, погляжу. А у других игрокв обновляется?

[2017-01-22 22:27] 12st commented on #68
Да, у тех у кого пинг нормальный

[2017-01-22 22:28] tym32167 commented on #68
если так, то определенно проблема на стороне сервера. Но логи гляну попозжа

[2017-01-23 14:02] ToxaBes2 commented on #68
В последнее время очень часто кикает людей с сервера якобы по причине Signature check time out. Это общее название ошибки в случае если до клиента не достучаться. Люди вылетают по двое, по трое. Возможен ли вариант что постоянные запросы от программы по BE протоколу начинают подвешивать какую-то подсистему в арме и в результате на ком зависло те и вылетают? Это просто предположение. Можно попробов

[2017-01-23 14:09] 12st commented on #68
С завтрашнего дня не включаю программу, в четверг о результатах сообщим.

[2017-01-25 22:50] tym32167 commented on #67
![image](https://cloud.githubusercontent.com/assets/610799/22312648/0ce24dee-e359-11e6-9238-1bbc59533654.png)
Готово

[2017-01-25 22:51] tym32167 commented on #67
Билд https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.7.295/artifacts

[2017-01-26 18:39] oDenZeL opened #69 "[UI] Комментирование пользователей"
Предложение такое. Было бы удобно, если по нажатию на выделенную на скриншоте область, можно было сразу оставлять комментарии.
![2017-01-26_21-34-01](https://cloud.githubusercontent.com/assets/20484713/22345131/f434b6a8-e40f-11e6-8a9d-d812d1a8cde4.png)

[2017-01-26 18:50] tym32167 commented on #68
Протестил, пинг обновляется. Воспроизвести зависший пинг не получилось. Тикет закрываю.

[2017-01-26 18:50] #68 closed, assigned to nobody

[2017-01-26 20:03] tym32167 commented on #69
Я бы не хотел делать грид редактируемым, он не для этого предназначен. Но я могу открывать инфу о пользователе при двойном клике. Зацени сборку https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/0.7.296/artifacts

[2017-01-27 14:15] oDenZeL opened #70 "[UI] Ширина столбцов"
Возможно сделать автоматическое сохранение ширины столбцов, при изменении их ширины?

[2017-01-27 14:18] oDenZeL commented on #69
@tym32167 Работает хорошо!

[2017-01-27 14:22] oDenZeL opened #71 "[UI] Никнеймы в разделе "Блокировки""
После переустановки ОС, появилась необходимость в повторной установке RCON'a. Никнеймы в данном разделе не отображаются, как поправить?
![2017-01-27_17-19-31](https://cloud.githubusercontent.com/assets/20484713/22373988/3a0e97b6-e4b5-11e6-8bc6-d4557d211821.png)

[2017-01-27 15:59] tym32167 commented on #70
Вообще это уже сделано, проверь еще раз. Когда ты устанавливаешь ширину
столбца, потом закрываешь приложение и заново открываешь, ширина должна
быть такой, как ты установил

[2017-01-27 16:02] tym32167 commented on #71
Если от предыдущей программы не осталось базы данных, то никак. Ник игрока
сохраняется только если программа его словила на сервере. Так как это
список банов, а забаненые игроки не могут зайти на сервер, ты не узнаешь их
никнеймов

[2017-01-27 16:02] oDenZeL commented on #70
@tym32167 Да, действительно, работает!

[2017-01-27 16:03] tym32167 commented on #70
Это касается не только ширины, но и порядка столбцов. Единственное, что я
не сохраняю- это сортировку

[2017-01-27 16:34] #71 closed, assigned to nobody

[2017-01-27 16:39] #70 closed, assigned to nobody

[2017-01-27 16:39] #69 closed, assigned to tym32167

[2017-01-27 16:50] oDenZeL opened #72 "Импорт\экспорт настроек"
Возможно ли реализовать импорт\экспорт настроек программы? Сервера, расположение\ширина столбцов, шаблоны блокировок?

[2017-01-27 16:52] oDenZeL commented on #48
Проблемы, относительно организации администрирования, а не программы :)

[2017-01-27 16:55] tym32167 commented on #72
В папке с программой есть файл, называется Database.sdf, там хранятся все данные, сервера, игроки, настройки. Ты можешь скачать последнюю версию программы отсюда https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/artifacts , распаковать, кинуть туда свой файл от старой программы и запускать - все настройки подхватятся.

[2017-01-27 16:57] tym32167 commented on #48
Если проблемы не касаются программы, но я не могу помочь, Тикет закрываю.

[2017-01-27 16:57] #48 closed, assigned to nobody

[2017-01-27 17:05] tym32167 commented on #72
@oDenZeL отпиши, это то, что бы хотел? Если да, то тикет закрою

[2017-01-27 17:06] oDenZeL commented on #72
@tym32167 Да, в принципе можно закрывать...

[2017-01-27 17:07] tym32167 commented on #72
ок

[2017-01-27 17:07] #72 closed, assigned to nobody

[2017-01-29 14:19] oDenZeL opened #73 "[UI] Обновление и прокрутка чата"
Идея следующая. Если пользователь прокручивает чат\консоль и т.д. вверх, то автоматически отключается auto scroll. А если опускает до упора, то автоматически включается.
![2017-01-29_17-17-20](https://cloud.githubusercontent.com/assets/20484713/22404672/f203af9a-e646-11e6-8f42-7353368ae4d6.png)

[2017-01-29 14:21] tym32167 commented on #73
Очень минорная вещь, оставлю до времен, когда будет нечем заняться :)

[2017-01-31 19:17] tym32167 opened #74 "BE иногда не понимает русскоязычные ники в кодировке 1251 (остальная инфа в utf8)"

[2017-02-04 12:17] oDenZeL opened #75 "[UI] Время блокировка"
С чем может быть связано неправильное написание времени блокировки?
На скриншоте 11:55, а на самом деле блокировка состоялась в 15:55.

![2017-02-04_15-15-55](https://cloud.githubusercontent.com/assets/20484713/22618430/fd82a59c-eaec-11e6-8951-f8582f3345a0.png)

[2017-02-04 12:26] tym32167 commented on #75
время блокировки пишется в UTC

[2017-02-04 14:47] #75 closed, assigned to nobody

[2017-02-28 19:57] tym32167 commented on #67
Закрываю

[2017-02-28 19:57] #67 closed, assigned to tym32167

[2017-02-28 19:58] tym32167 commented on #56
Убираю из релиза, возможно сделаю в следующем

[2017-04-09 08:03] tym32167 opened #76 "Speedup online_players and bans"

[2017-04-09 20:48] #76 closed, assigned to tym32167

[2017-04-23 21:27] tym32167 opened #77 "Возможность не пускать игроков на сервер по разным признакам"
- Страна
- Время первого появления на сервере
- Ограничение для никнеймов
- Превышение пинга

Иметь возможность комбинации признаков
Иметь возможность добавлять в исключения

[2017-06-18 13:28] tym32167 commented on #66
Тестил на крайней версии - не воспроизводится.

[2017-06-18 13:28] #66 closed, assigned to tym32167

[2017-06-18 13:29] tym32167 commented on #60
Проблема осталась, пофиксить не удалось. Причем потери соединения нет. Склоняюсь ко мнению, что это особенности сервера. Тикет закрываю, как не приоритетный.

[2017-06-18 13:29] #60 closed, assigned to tym32167

[2017-06-20 21:39] tym32167 opened #78 "Bad Nicknames и Important words хранить в БД"

[2017-06-20 21:58] tym32167 opened #79 "Добавить БД для городов"

[2017-06-20 22:13] tym32167 commented on #79
Файлы для стран и городов находятся в папке IPDatabase

[2017-06-20 22:15] tym32167 commented on #78
![image](https://user-images.githubusercontent.com/610799/27358404-beefc464-5616-11e7-89a3-825f8468eb8c.png)

[2017-06-20 22:32] tym32167 commented on #79
![image](https://user-images.githubusercontent.com/610799/27358898-11c3b036-5619-11e7-993c-1835166a6767.png)

[2017-06-21 19:32] tym32167 opened #80 "Возможность обновления ДЕВ версии"

[2017-06-21 19:39] tym32167 commented on #80
![image](https://user-images.githubusercontent.com/610799/27403269-211c86f0-56ca-11e7-9f97-eb87e0ba23c7.png)
![image](https://user-images.githubusercontent.com/610799/27403279-276b6c9c-56ca-11e7-8dba-cefae85cb942.png)

[2017-06-21 19:40] tym32167 commented on #80
Добавил пока как временный вариант

[2017-06-21 19:42] #78 closed, assigned to tym32167

[2017-06-21 19:42] #79 closed, assigned to tym32167

[2017-06-21 19:42] #80 closed, assigned to tym32167

[2017-06-21 20:44] tym32167 opened #81 "Возможность скрывать столбцы в гридах"

[2017-06-21 20:46] tym32167 commented on #81
Сделано для
- Список онлайн игроков
- Список банов
- Список всех игроков
- Список админов

[2017-06-21 20:48] tym32167 commented on #81
![image](https://user-images.githubusercontent.com/610799/27405964-cd7aaf9a-56d3-11e7-9c8a-abf911df9327.png)

[2017-06-21 20:50] #81 closed, assigned to nobody

[2017-06-25 14:16] tym32167 opened #82 "Открыть инфо по юзеру по двоному клику на списке всех пользователей"

[2017-06-25 14:17] #82 closed, assigned to tym32167

[2017-06-28 21:46] tym32167 opened #83 "[UI]Видеть игрока без гуида в списке (выделить его цветом)"

[2017-06-28 21:48] tym32167 commented on #83
[code]

[2017-07-13 18:51] ToxaBes2 commented on #55
Возможно чтобы эта ошибка ушла нужно заполнить [Mission_rotation](https://community.bistudio.com/wiki/server.cfg#Mission_rotation) в server.cfg. На первом сейчас эти поля не используются.

[2017-07-13 18:53] ToxaBes2 opened #84 "Steam discovery блокирует подключение к steam"
Не знаю, баг это или фича но при запуске steam discovery из программы невозможно включить steam. Пишет что не может подключиться. Пробовал несколько раз.

[2017-07-13 20:00] tym32167 commented on #84
Steam discovery и вообще вся программа никак не связана со стимом

[2017-07-13 20:41] ToxaBes2 commented on #84
Мое дело сообщить. Пробовал 3 раза.

[2017-07-28 22:23] hia3project opened #85 "Приложение после продолжительного использования перестаёт реагировать на команды"
После длительного периода работы нашего игрового сервера без перезагрузки и под значительной нагрузкой, приложение перестаёт реагировать на действия со стороны пользователя. Чат работает, список игроков отображается, но невозможно ни кикнуть, ни забанить, ни написать сообщение, ни даже залочить сервер. Функционал просто перестаёт работать и программа будто переходит в режим отображения, не реагиру

[2017-07-28 22:26] tym32167 commented on #85
Привет. Спасибо за фидбек. Скинь мне на почту tym32167@gmail.com логи, я
погляжу как вернусь (не раньше, чем через неделю)

[2017-07-28 22:42] hia3project commented on #85
Благодарю за скорый ответ! Сейчас вышлю логи, буду ждать результатов анализа сколько необходимо, будучи готовым к дальнейшему содействию.  Вопрос. Достаточно ли файлов без префикса "_BELog" или же они тоже крайне необходимы?

[2017-07-28 22:47] tym32167 commented on #85
Нужны все файлы, так как я понятия не имею, что за проблема. Если беспокоит
передача гуидов игроков и адресов сервера, замени их в файле любым текстом.

[2017-07-29 18:18] hia3project commented on #85
Приветствую! Логи так и не не выслал. Сейчас поясню почему. Забирая логи из директории Logs, я файлы переместил в другую директорию, опустошив исходную. И после этого я запустил программу. Удивительно, но она заработала без проблем. Вывод я сделал такой: при длительной работе программы без перезапуска игрового сервера, какой-то лог приобретает недопустимый размер и программа от этого начинает рабо

[2017-07-29 18:22] tym32167 commented on #85
Программа создает новые файлы логов каждый час, по идее логгирование никак
не должно влиять на работоспособность программы. В любом случае, если
ошибка повторится, шли логи, без них мне точно не понять ничего

[2017-09-07 15:42] Vova12421 opened #86 "Я извиняюсь но я слишком тупой."
Привет.
Я вот не понял как мне сервак добавить ип вожу нечего ип хоста тоже вожу нечего.Я уже 2 дня не могу понять видео или надписи по поводу как его добавить нету. Что где когда нету везде нечего нету.Буду рад если кто то подскажет как

[2017-09-07 17:55] tym32167 commented on #86
Добрый день.
Спасибо за вопрос. Сервер добавляется в опциях приложения. Нужно указать IP адрес, название сервера, пароль и порты для подключения и стим запросов.

Пример:
![howtoaddserver](https://user-images.githubusercontent.com/610799/30177393-001c1cbc-9406-11e7-9d17-f9856d9b94fc.gif)

Если после этого сервер все равно не подключается, то смотрите что не так с настройками сервера\файервола.

[2017-09-07 18:24] ToxaBes2 commented on #86
@tym32167 - добавь эту гифку в readme.md файл в новую секцию "Setup example". Думаю, будет полезно для многих пользователям.

[2017-09-07 18:27] tym32167 commented on #86
@ToxaBes Дельная мысль, сделаю попозжа

[2017-09-07 19:01] Vova12421 commented on #86
Спасибо
Что делать если дисконект пишет а сервер включен ?

[2017-09-07 19:06] tym32167 commented on #86
@Vova12421 Проверять порты, правильность указанного пароля, настройки сервера, фейервола.

[2017-09-07 19:08] Vova12421 commented on #86
Пароль сервера указывать или ркон ?

[2017-09-07 19:10] tym32167 commented on #86
@Vova12421 Программа подключается по протоколу RCON, потому надо указывать RCON пароль и RCON порт.

[2017-09-07 19:11] Vova12421 commented on #86
А как узнать ркон порт ?

[2017-09-07 19:12] Vova12421 commented on #86
Я честно извиняюсь за такие глупые вопросы я первый раз сталкиваюсь с такой программой.

[2017-09-07 19:15] Vova12421 commented on #86
А всё разобрался

[2017-09-07 19:15] Vova12421 commented on #86
Спасибо за помощь

[2017-09-07 19:16] tym32167 commented on #86
Пожалуйста :)
Тикет закрываю.

[2017-09-07 19:16] #86 closed, assigned to nobody

[2017-09-07 19:54] tym32167 opened #87 "Обновить Readme - добавить описание и пару сценариев использования"
по мотивам https://github.com/tym32167/arma3beclient/issues/86#issuecomment-327883744

[2017-09-07 19:56] tym32167 commented on #87
#86

[2017-09-08 15:33] Vova12421 commented on #87
Я извиняюсь а Arma3BEClient может ли работать без BattlEye или он обязательный ?

[2017-09-08 16:32] tym32167 commented on #87
Обязательный. По сути программа подключается не к серверу Армы, а к серверу Battleye.

[2017-09-08 16:33] Vova12421 commented on #87
Ясно Спасибо

[2017-09-08 19:05] tym32167 commented on #83
Не хватает времени - отложил функционал

[2017-09-08 19:20] tym32167 commented on #87
Обновил readme, добавил пару гифок для начала работы с программой

[2017-09-08 19:20] #87 closed, assigned to tym32167

[2017-09-14 14:09] Vova12421 opened #88 "Какой лучше порт использовать"
Здравствуйте подскажите какой лучше порт использовать для программы?

[2017-09-14 14:13] tym32167 commented on #88
Любой, программе нет разницы через какой порт подключаться. Главное, чтобы
сервер был настроен.

[2017-09-14 14:15] Vova12421 commented on #88
прописал порт в батл еар 2122 он не заходит а когда 2302 он заходит но люди зайти не могут побывал так же менять и открывал по новому

[2017-09-14 17:56] tym32167 commented on #88
Так это касается настройки сервера. Программе, как клиенту, нужен только коннект к службе battleye, на каком она порту настроена, туда и подключайся.

[2017-10-15 20:32] #88 closed, assigned to nobody

[2017-10-22 11:07] tym32167 commented on #59
Уже сделано

[2017-10-22 11:07] #59 closed, assigned to tym32167

[2017-10-22 11:10] tym32167 commented on #44
Уже реализовано
![image](https://user-images.githubusercontent.com/610799/31861258-52cdf9de-b72a-11e7-9a24-c3009f2b4c4f.png)

[2017-10-22 11:10] #44 closed, assigned to nobody

[2018-01-04 20:37] Noart537 opened #89 "[UI] Поверх всех окон"
Добавить кнопочку или пункт меню "Поверх всех окон".

[2018-01-07 22:05] tym32167 commented on #89
Готово, проверяй @Noart537
![image](https://user-images.githubusercontent.com/610799/34654666-49653a9e-f3ff-11e7-8a73-6b1cd92e4db0.png)

[2018-01-07 22:15] tym32167 commented on #89
Поправил чуть чуть
![image](https://user-images.githubusercontent.com/610799/34654773-962d09be-f400-11e7-8695-402cd95a48f2.png)

[2018-01-07 22:22] #26 closed, assigned to tym32167

[2018-01-07 22:22] tym32167 commented on #26
Протестировано

[2018-01-07 22:22] tym32167 commented on #26
Протестировано

[2018-01-07 22:23] tym32167 commented on #27
Виртуализация и так работает

[2018-01-07 22:23] #27 closed, assigned to tym32167

[2018-01-13 07:52] Noart537 commented on #89
Спасибо, работает.

[2018-01-13 14:53] tym32167 commented on #89
Отлично, тогда закрываю.

[2018-01-13 14:53] #89 closed, assigned to tym32167

[2018-01-23 17:53] tym32167 opened #90 "Новый кеш для игроков"

[2018-01-23 17:55] tym32167 opened #91 "Получение steam ID в реальном времени"

[2018-01-28 15:03] #90 closed, assigned to tym32167

[2018-01-28 15:03] #91 closed, assigned to tym32167

[2018-05-03 15:11] tym32167 opened #92 "[UI] Автокик из лобби за простой"

[2018-05-04 15:42] tym32167 commented on #92
Рабочая версия
![image](https://user-images.githubusercontent.com/610799/39637136-6dc96eb8-4fc2-11e8-9dcc-d042c2ead671.png)

[2018-05-08 14:30] ToxaBes2 commented on #55
Бампану немного эту старую тему. Из BE клиента не получится нормально сменить миссию или перезапустить сервер если арма работает на Linux сервере. Просто потому что сервер армы запускается отдельным скриптом (обычно bash) в котором определяются все необходимые переменные окружения и ключи запуска.
Даже если зайти в лобби админом и выбрать другую миссию из списка - она запустится, но потеряется исп

[2018-05-08 14:42] tym32167 commented on #55
@ToxaBes  Тут 2 важных аспекта
1) Через BE не проверить тип OS. Это можно сделать только через Steam Query.
2) Я бы не хотел отслеживать когда бисы нормально это пофиксят. Сегодня у них одно не работает, завтра другое.

Я бы мог добавить настройку, какие кнопки управления сервером юзеру показывать, но это придется настраивать для каждого сервера отдельно, что не очень удобно.
По сути ты предлагаеш

[2018-05-08 16:30] ToxaBes2 commented on #55
Клиентская прога на моей памяти ложила сервер раз пять, последний раз не так давно. Именно поэтому я предлагаю убрать эту возможность. БИСы никогда не пофиксят это под линукс просто потому что это behaviour by design. Можно ли делать Steam Query для определения ОС при запуске программы или открытии вкладки с сервером?

[2018-05-08 16:32] ToxaBes2 commented on #55
Ну или предупреждение можно добавить. Вида: "Вы уверены что хотите ... На Linux системах это приведет к падению Arma 3 сервера!".

[2018-05-08 18:25] tym32167 commented on #55
@ToxaBes  Вот в таком виде сделал
![image](https://user-images.githubusercontent.com/610799/39775289-b9188f82-52fd-11e8-8427-2cc3b02266cf.png)
Команды подсвечиваются: выбор миссии, shutdown, restart и restart server. При попытке выполнить команду выдаст предупреждение, что она может не поддерживаться. Сделал это для всех операционок, что не винда.
Остальные команды работают в прежнем режиме
![imag

[2018-05-08 18:33] tym32167 commented on #55
@ToxaBes погляди. Если тебе норм, то я закрою тикет.

[2018-05-08 21:33] ToxaBes2 commented on #55
Отлично, то что нужно. Спасибо! Тикет можно закрывать.

[2018-05-08 22:31] #55 closed, assigned to tym32167

[2018-05-19 12:55] tym32167 opened #94 "BE иногда долго восстанавливает соединение и пропускает все команды от админа"
После правок будет:

1) При потере соединения будет автоматическая попытка восстановления (произойдет незамедлительно) + раз в минуту проверка наличия подключения.
2) При потере соединения во время подключения - произойдет немедленное переподключение. Дается 100 попыток на немедленное переподключение. После 100 попыток подключиться, проверка будет просто раз в минуту, до восстановления подключения

[2018-05-19 12:57] ToxaBes2 commented on #94
Может лучше 60 попыток с таймаутом в 1 сек?

[2018-05-19 13:01] tym32167 commented on #94
@ToxaBes  Автор библиотеки, которую я использую, просто вызывал Connect() рекурсивно - поэтому при потере сети прога крашилась с переполнением стека. Я сначала убрал рекурсию совсем, и потому при подключении соединение могло потеряться и восстановиться только через минуту. Я хочу этого избежать, потому вернул рекурсию, но со счетчиком (надеюсь. автор примет мой пулл реквест с этим) - но если за 10

[2018-05-19 13:15] ToxaBes2 commented on #94
Я вот о чем имел ввиду: одно соединение это несколько этапов, таких как DNS resolving, TTFB (time to first byte) и другие.  В нормальном состоянии сети это занимает миллисекунды. При восстановлении соединения это может занять более нескольких секунд. Поэтому я и предложил 60 попыток с задержкой в секунду. Как раз получится 1 минута.
Почему с задержкой: если при рекурсивном вызове все падало по SO

[2018-05-19 13:33] ToxaBes2 opened #95 "Индикация запроса игроков"
Просто идея, которая кажется интересной.

У нас есть полноценный чат для общения с игроками не заходя в игру. Но нет уведомления о том что игроки зовут админа. Опишу суть идеи: в настройках сервера на стороне программы добавляется новое поле, условно "Маркер вызова админа". Допустим мы поставили значение "!ADMIN!".
Затем я в server.cfg пишу серверные сообщения которые видят игроки:
[code]

Если иг

[2018-05-19 14:02] tym32167 commented on #94
@ToxaBes там код синхронный. То есть если резолвинг занимает 5 секунд, то одна попытка будет идти 5 секунд, потом снова попытка на 5 секунд и тд, пока не восстановится или не пройдет 100 попыток. Я просто почему не хочу делать интервалы - для коннекта с интервалами в течение минуты, мне надо либо фризить всю программу на минуту, либо добавлять асинхронщины\многопоточности, что займет много работы.

[2018-05-19 14:09] ToxaBes2 commented on #94
Понял. Если есть ожидание завершения предыдущей попытки то действительно нет смысла городить огород.

[2018-05-19 14:47] tym32167 commented on #95
Подобное уже есть, нзывается в настройках Important Words
![image](https://user-images.githubusercontent.com/610799/40269820-91d87ffc-5b83-11e8-882f-c4f0f424e9e5.png)
При попадании такого слова в чате, все сообщение выделяется более жирным
![image](https://user-images.githubusercontent.com/610799/40269829-ad170658-5b83-11e8-9ec8-d315e9134ed5.png)
Я добавил флешинг (чтобы если окно свернуто - морга

[2018-05-19 18:35] ToxaBes2 commented on #95
О, круть!

[2018-05-19 19:04] tym32167 commented on #95
@ToxaBes правда, оно ищет не просто вхождения, а именно слова. То есть оно не отреагирует на aminu \ admina\ karadmin и тд. Таким образом, important word может состоять только из букв, так как при поиске вхождения алгоритм сначала выделит из чата слова (без знаков препинания), а потом уже будет сопоставлять с тем, что ты укажешь. То есть если в чат написать !admin!, то после извлечения слов из чат

[2018-05-20 01:31] tym32167 opened #96 "Перестал работать оффлайн бан"

[2018-05-20 02:05] tym32167 commented on #96
Протестировано

[2018-05-20 02:05] #96 closed, assigned to tym32167

[2018-05-20 02:06] tym32167 commented on #95
@ToxaBes  отпиши, если тебе все ок, то я закрою тикет

[2018-05-20 02:06] tym32167 commented on #94
за день ни вылетов, ни потери соединения. Закрываю тикет

[2018-05-20 02:06] #94 closed, assigned to tym32167

[2018-05-20 02:07] tym32167 commented on #92
Протестировано (тестилось 2 недели), работает

[2018-05-20 02:07] #92 closed, assigned to tym32167

[2018-05-20 02:09] tym32167 commented on #85
@hia3project  еще актуально?

[2018-05-20 02:12] tym32167 commented on #84
С добавлением #91 больше не актуально

[2018-05-20 02:12] #84 closed, assigned to tym32167

[2018-05-20 10:59] ToxaBes2 commented on #95
Можешь собрать версию со всеми последними изменениями? У меня сейчас нет возможности из исходников собирать.

[2018-05-20 11:10] tym32167 commented on #95
@ToxaBes  Тебе не надо ничего собирать. Либо в программе обновись
![image](https://user-images.githubusercontent.com/610799/40278312-0fed5bf0-5c2f-11e8-92fa-f758c5c3a371.png)
либо самая свежая версия всегда доступна на [билд сервере](https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/artifacts)

[2018-05-20 11:44] ToxaBes2 commented on #95
Все работает, спасибо! Тикет можно закрывать.

[2018-05-20 11:50] #95 closed, assigned to tym32167

[2018-05-20 12:17] ToxaBes2 opened #97 "Дополнительные настройки для автоматизации присутствия админов"
Дополнительные настройки:
- [ ] чекбокс "Запускать при старте системы"
- [ ] чекбокс "Запускать свернутой в tray"

В tray от программы требуется 2 вещи:
- [ ] Правой кнопкой по ней -> меню "развернуть программу" (уходим из трея  в таскбар)
- [ ] Мигать при запросе пользователя

В таскбаре:
- [ ] Правая кнопка -> меню свернуть в tray
- [x] Мигать при запросе пользователя

[2018-05-20 16:27] tym32167 commented on #97
Подумаю наз фишками, но пока писать такое времени нету, потому может в след релиз возьму

[2018-05-20 16:28] tym32167 commented on #41
Уже не требуется. Проблемы с вылетами решены.

[2018-05-20 16:28] #41 closed, assigned to nobody

[2018-05-21 10:28] hia3project commented on #85
Приветствую! Да, проблема продолжает периодически появляться, к сожалению.

[2018-05-21 12:48] tym32167 commented on #85
@hia3project  Какую версию используете? Попробуйте [самую последнюю](https://ci.appveyor.com/project/ArtemMuradov/arma3beclient/build/artifacts) - но перед этим сохраните файл БД (как бекап), так как новая версия при первом запуске будет обновлять схему БД.

[2018-05-22 07:56] hia3project commented on #85
@tym32167 использовалась версия 0.7.321.0
Попытался запустить новую версию программы с существующей базой размером 260 мегабайт. Программа не отрисовала интерфейс при запуске и уже минут 20 висит окно, заполненное белым.

![image](https://user-images.githubusercontent.com/5155399/40349480-6b3b25a6-5daf-11e8-9631-ab0a5a805a5a.png)

[2018-05-22 08:07] tym32167 commented on #85
@hia3project пусть висит, она обновляет индексы в БД, это занимает какое то время (хотя 20 минут как то долго). Если выключить её, то может попортиться файл БД (потому я говорил сделать бекап)

[2018-05-22 10:34] hia3project commented on #85
@tym32167 на текущий момент окно часа 3 висит - безрезультатно. Даже не знаю что делать

[2018-05-22 10:40] tym32167 commented on #85
@hia3project  3 часа уже перебор. Что делать:
1) пока пользуйся старой версией и старой БД
2) попробуй также запустить ещё раз. Просто из новой проги удали БД, скорпируй из старой проги её и запусти ещё раз. Если отвалится 2 раза из 2, то проблема
3) Если есть желание таки опробовать новую версию, то можно её запустить без БД, она сама создаст пустую базу данных. Надо будет туда добавить ваши серв

[2018-05-31 14:41] tym32167 opened #98 "[UI] Подсвечивать кто зашел на сервер в списке игроков"
Добавлю анимацию подсветки строчки для тех игроков, что только зашли на сервер

[2018-05-31 16:30] tym32167 commented on #98
Сделал подсветку тем, кто заходит в лобби - розовым. Кто зашел из лобби в игру - зеленым. Подстветка затухающая на 5 секунд

![2018-05-31_18-26-59](https://user-images.githubusercontent.com/610799/40794814-930f37cc-6500-11e8-8ca6-7a8f822ccfb3.gif)
![2018-05-31_18-27-50](https://user-images.githubusercontent.com/610799/40794815-93322a98-6500-11e8-83ba-3365e470809b.gif)

[2018-06-03 07:22] hia3project commented on #85
@tym32167 пользуемся старой версией. Сегодня попытался в порядке эксперимента выполнить экспорт-импорт игроков. В итоге обнаружился лимит ровно в 16000 на общее количество записей. В оригинальной нашей базе было порядка 88000 игроков. Если в тестировании программы Вам требуется помощь сообщества, активно её использующего, то мы готовы к содействию.

[2018-06-03 10:55] tym32167 commented on #85
@hia3project  скорее всего какой то сбой, попробуйте экспорт\импорт ещё раз. Кстати. импорт в пустую БД идет просто долго (это чинится, но руки ещё не дошли) - этот импорт идет пачками по 2000 юзеров. Вы просто прождали 8 пачек. То есть нужно просто попробовать продублировать импорт (несколько импортов подряд - из того же файла).

[2018-06-03 12:50] tym32167 commented on #98
Откатил изменения - ерунда получается.

[2018-06-06 12:50] #98 closed, assigned to tym32167

[2018-07-29 07:00] tym32167 commented on #61
нет времени на это, убрал из релиза

[2018-11-04 23:36] vosur commented on #49
Я так понимаю, имеется ввиду отображение в вкладке Admins хотя бы поля "Ник", который будет брать ip адрес и выдавать ник последнего пользователя, который его использовал. Так будет легче определять, у кого запущена данная программа

[2018-11-05 11:43] tym32167 commented on #49
@vosur  чтобы показывать ник админа, надо знать, какой админ на каком IP сидит (при этом, в теории, с одного IP благополучно могут сидеть несколько админов). Просто запущенная у клиента прога не имеет ни малейшего понятия о запущенных других прогах и их админах, потому это в текущей проге просто не реализуемо.

[2018-11-05 14:42] ToxaBes2 commented on #49
Для этого нужна единая точка входа (веб-морда).
Каждый админ использует свой логин/пароль для входа и после авторизации можно будет внизу показывать строку вида:
`Админы онлайн: ..., ..., ... .`
Примерно как на форумах пишется.

[2018-11-05 14:50] tym32167 commented on #49
@ToxaBes  веб версия уже в работе, там подобное будет (при условии что админы через веб версию заходят, а не через прогу). MVP планирую к концу года выкатить, стек будет MySQL + asp.net core 2.1 на сервере и React+Redux на клиенте (будет работать на Win + Linux + Mac на сервере и все современные браузеры на клиенте). Прототип уже сейчас мониторит сервера.

[2018-11-05 15:30] ToxaBes2 commented on #49
Ок, у .NET Core 2.1 в списке поддерживаемых ОС есть openSUSE 42.3 x64
У меня на сервере 42.2, думаю заведется. Как будет что тестить - зови.

[2018-11-05 15:58] tym32167 commented on #49
@ToxaBes  договорились

[2020-02-17 19:46] tym32167 opened #99 "Добавить количество элементов во вкладки (игроки, баны, админы)"

[2020-04-03 23:44] tym32167 opened #100 "Backend integration - Players sync"